
      
      <div class="contacto">
        <h3 class="titulo">Enviar Correo</h3>
        <form class="formulario">
          <p>
            <label>Nombre</label>
            <input type="text" name="nombre" required>
          </p>
          <p>
            <label>Fecha</label>
            <input type="text" name="empresa">
          </p>
          <p>
            <label>Correo</label>
            <input type="email" name="email" required>
          </p>
          <p>
            <label>Teléfono</label>
            <input type="text" name="teléfono" required>
          </p>
          <p class="full">
            <label>Mensaje</label>
            <textarea name="mensaje" required></textarea>
          </p>
          <p class="full">
            <button class="btn ">Enviar</button>
          </p>
        </form>
      </div>
    </div>
  </div>